@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="container-div">
    <div class="row">
        <div id="searchDiv" class="col-sm-12 search-collapse">
            <div class="select-list">
                <ul>
                    <li>
                        点表名称：<input id="CodeName" col="CodeName" type="text" />
                    </li>
                    <li>
                        点表数据地址：<input id="CodePointSetting" col="CodePointSetting" type="text" />
                    </li>
                    <li class="select-select2">
                        <label>系统模块：</label>
                        <div id="SystemId" col="SystemId" class="select"></div>
                    </li>
                    <li>
                        <a id="btnSearch" class="btn btn-primary btn-sm" onclick="searchGrid()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-group-sm hidden-xs" id="toolbar">
            <a id="btnAdd" class="btn btn-success" onclick="showSaveForm(true)"><i class="fa fa-plus"></i> 新增</a>
            <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)"><i class="fa fa-edit"></i> 修改</a>
            <a id="btnDelete" class="btn btn-danger disabled" onclick="deleteForm()"><i class="fa fa-remove"></i> 删除</a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<script type="text/javascript">
    var mqtCode = "";
    $(function () {
        initGrid();
    });

    function initGrid() {
        var queryUrl = '@Url.Content("~/ApplicationManage/MqTheme/GetSettingPageListJson")';

         ys.ajax({
                url: '@Url.Content("~/ApplicationManage/MqTheme/GetListJson")',
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        var result = obj.Result;
                        mqtCode = result[0].MqCollieryCode;
                    }
                }
            });
         $("#SystemId").ysComboBox({
                url: '@Url.Content("~/ApplicationManage/SystemSetting/GetListJson")',
                key: "Id",
                value: "SystemName",
                class: "form-control",
            });
        $('#gridTable').ysTable({
            url: queryUrl,
            sortName: 'DeviceCode',
            sortOrder: 'Asc',
            columns: [
                { checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'SystemName', title: '应用模块' },
                { field: 'CodeName', title: '名称'},
                {
                    field: 'AddressAreCode', title: '地址编码',
                    formatter: function (value, row, index) {
                        //采区编码  +地址类型编码	+安装设备地点编码 =地址编码
                        return row.AddressAreCode + row.AddressTypeCode + row.AddressDeviceCode;
                    }
                },
                {
                    field: 'SystemCode', title: '系统编码', formatter: function (value, row, index) {
                        var text = "";
                        switch (row.SystemCode) {
                            case "03":
                                text = "运输系统";
                                break;
                            case "04":
                                text = "排水系统";
                                break;
                            case "05":
                                text = "通风系统";
                                break;
                            case "06":
                                text = "瓦斯系统";
                                break;
                            case "07":
                                text = "压风系统";
                                break;
                            case "08":
                                text = "供配电系统";
                                break;
                            default:
                                text = "工业视频";
                                break;
                        }
                        return '<span class="badge badge-primary">' + text + '</span>';
                    } },
                { field: 'DeviceCode', title: '设备顺序编码' },
                { field: 'SensorTypeCode', title: '传感器类型编码' },
                {
                    field: 'SystemCode', title: '传感器编码', formatter: function (value, row, index) {
                        //煤矿编码（15）+地址编码（6）+系统编码（2）+设备顺序编码（2）+传感器类型编码（3）
                        return mqtCode + row.AddressAreCode + row.AddressTypeCode + row.AddressDeviceCode + row.SystemCode + row.DeviceCode + row.SensorTypeCode;
                    }
                },
                { field: 'CodePointSetting', title: '数据点表地址' }
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').ysTable('getPagination', params);
                var queryString = $('#searchDiv').getWebControls(pagination);
                return queryString;
            }
        });
    }

    function searchGrid() {
        $('#gridTable').ysTable('search');
        resetToolbarStatus();
    }

    function showSaveForm(bAdd) {
        var id = 0;
        if (!bAdd) {
            var selectedRow = $("#gridTable").bootstrapTable("getSelections");
            if (!ys.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
        ys.openDialog({
            title: id > 0 ? "编辑" : "添加",
            content: '@Url.Content("~/ApplicationManage/MqTheme/MqtSettingForm")' + '?id=' + id,
            width: "768px",
            height: "450px",
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }

    function deleteForm() {
        var selectedRow = $("#gridTable").bootstrapTable("getSelections");
        if (ys.checkRowDelete(selectedRow)) {
            ys.confirm("确认要删除选中的" + selectedRow.length + "条数据吗？", function () {
                var ids = ys.getIds(selectedRow);
                ys.ajax({
                    url: '@Url.Content("~/ApplicationManage/MqTheme/DeleteSettingFormJson")' + '?ids=' + ids,
                    type: "post",
                    success: function (obj) {
                        if (obj.Tag == 1) {
                            ys.msgSuccess(obj.Message);
                            searchGrid();
                        }
                        else {
                            ys.msgError(obj.Message);
                        }
                    }
                });
            });
        }
    }
</script>

