@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="container-div">
    <div class="row">
        <div id="searchDiv" class="col-sm-12 search-collapse">
            <div class="select-list">
                <ul>
                    <li class="select-select2">
                        <label>系统模块：</label>
                        <div id="SystemId" col="SystemId" class="select"></div>
                    </li>
                    <li>
                        <a id="btnSearch" class="btn btn-primary btn-sm" onclick="searchGrid()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        initGrid();
        $("#SystemId").ysComboBox({
            url: '@Url.Content("~/ApplicationManage/SystemSetting/GetListJson")',
            key: "Id",
            value: "SystemName",
            class: "form-control",
        });
    });

    function initGrid() {
        var queryUrl = '@Url.Content("~/AlarmManage/AlarmReccord/GetPageListJson")';
        $('#gridTable').ysTable({
            url: queryUrl,
            sortName: 'AlarmTime',
            sortOrder: 'Asc',
            columns: [
                { checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'SystemName', title: '应用模块' },
                { field: 'ManipulateModelName', title: '视图项' },
                { field: 'AlarmTime', title: '报警时间' },
                {
                    field: 'AlarmTimeLength', title: '报警时长', formatter: function (value, row, index) {
                        var val = value + "/ms";
                        return val
                    } },
                { field: 'AlarmReason', title: '报警原因' },
                { field: 'BroadcastContent', title: '报警内容' },
                 {
                    field: 'BroadcastCount', title: '告警等级',
                    formatter: function (value, row, index) {
                        if (row.BroadcastCount == "@AlarmClassEnum.ClassA.ParseToInt()") {
                            return '<span class="badge badge-info">' + "@AlarmClassEnum.ClassA.GetDescription()" + '</span>';
                        } else if (row.BroadcastCount == "@AlarmClassEnum.ClassB.ParseToInt()") {
                            return '<span class="badge badge-warning">' + "@AlarmClassEnum.ClassB.GetDescription()" + '</span>';
                        } else if (row.BroadcastCount == "@AlarmClassEnum.ClassC.ParseToInt()"){
                            return '<span class="badge badge-danger">' + "@AlarmClassEnum.ClassC.GetDescription()" + '</span>';
                        }
                    }
                }
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').ysTable('getPagination', params);
                var queryString = $('#searchDiv').getWebControls(pagination);
                return queryString;
            }
        });
    }

    function searchGrid() {
        $('#gridTable').ysTable('search');
        resetToolbarStatus();
    }

    function showSaveForm(bAdd) {
        var id = 0;
        if (!bAdd) {
            var selectedRow = $("#gridTable").bootstrapTable("getSelections");
            if (!ys.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
    }

</script>