@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}

    <div class="wrapper animated fadeInRight">
        <form id="form" class="form-horizontal m">
            <div class="form-group">
                <label class="col-sm-2 control-label ">视图配置</label>
                <div class="col-sm-10">
                    <div id="viewFunctionId" col="ViewFunctionId"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">控制名称<font class="red"> *</font></label>
                <div class="col-sm-10">
                    <input id="manipulateModelName" col="ManipulateModelName" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">显示排序</label>
                <div class="col-sm-10">
                    <input id="manipulateModelSort" col="ManipulateModelSort" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">标识</label>
                <div class="col-sm-4">
                    <input id="manipulateModelMark" col="ManipulateModelMark" type="text" class="form-control" />
                </div>
                <label class="col-sm-2 control-label">单位</label>
                <div class="col-sm-4">
                    <input id="manipulateModelUnit" col="ManipulateModelUnit" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">状态</label>
                <div class="col-sm-10" id="manipulateModelStutas" col="ManipulateModelStutas"></div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        var funId_global;
        var id = ys.request("id");
        var viewFunctionId = ys.request("viewFunctionId");
        $(function () {
            $("#manipulateModelStutas").ysRadioBox({ data: ys.getJson(@Html.Raw(typeof(StatusEnum).EnumToDictionaryString())) });
            $("#viewFunctionId").ysComboBox({
                url: '@Url.Content("~/ApplicationManage/ViewFunction/GetListJson")',
                key: "Id",
                value: "ViewName",
                class: "form-control",
            });
            getForm();
            $("#form").validate({
                rules: {
                    viewFunctionId: { required: true },
                    manipulateModelName: { required: true }
                }
            });
        });
        function getForm() {
            if (id > 0) {
                ys.ajax({
                    url: '@Url.Content("~/ApplicationManage/ViewManipulateModel/GetFormJson")' + '?id=' + id,
                    type: "get",
                    success: function (obj) {
                        if (obj.Tag == 1) {
                            $("#form").setWebControls(obj.Result);
                            //$("#viewFunctionId").ysComboBox('setValue', obj.Result.ViewFunctionId);
                        }
                    }
                });
            }
            else {
                ys.ajax({
                    url: '@Url.Content("~/ApplicationManage/ViewManipulateModel/GetMaxSortJson")',
                    type: "get",
                    success: function (obj) {
                        if (obj.Tag == 1) {
                            var defaultData = {};
                            defaultData.ManipulateModelStutas = "@StatusEnum.Yes.ParseToInt()";
                            defaultData.ManipulateModelSort = obj.Result;
                            $("#form").setWebControls(defaultData);
                        }
                    }
                });
            }
        }

        function saveForm(index) {
            if ($("#form").validate().form()) {
                var postData = $("#form").getWebControls({ Id: id });
                ys.ajax({
                    url: '@Url.Content("~/ApplicationManage/ViewManipulateModel/SaveFormJson")',
                    type: "post",
                    data: postData,
                    success: function (obj) {
                        if (obj.Tag == 1) {
                            ys.msgSuccess(obj.Message);
                            parent.searchGrid();
                            parent.layer.close(index);
                        }
                        else {
                            ys.msgError(obj.Message);
                        }
                    }
                });
            }
        }
    </script>