
@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="container-div">
    <div class="row">
        <div id="searchDiv" class="col-sm-12 search-collapse">
            <div class="select-list">
                <ul>
                    <li>
                        展示项目：<input id="manipulateModelName" col="ManipulateModelName" type="text" />
                    </li>
                    <li class="select-select2">
                        <label>系统模块：</label>
                        <div id="systemId" col="SystemId" class="select"></div>
                    </li>
                    <li>
                        <a id="btnSearch" class="btn btn-primary btn-sm" onclick="searchGrid()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-group-sm hidden-xs" id="toolbar">
            <a id="btnAdd" class="btn btn-success" onclick="showSaveForm(true)"><i class="fa fa-plus"></i> 新增</a>
            <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)"><i class="fa fa-edit"></i> 修改</a>
            <a id="btnDelete" class="btn btn-danger disabled" onclick="deleteForm()"><i class="fa fa-remove"></i> 删除</a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        initGrid();
        $("#systemId").ysComboBox({
            url: '@Url.Content("~/ApplicationManage/SystemSetting/GetListJson")',
            key: "Id",
            value: "SystemName",
            class: "form-control",
        });
    });
    function initGrid() {
        var queryUrl = '@Url.Content("~/ApplicationManage/ViewManipulateModel/GetPageListJson")';
        $('#gridTable').ysTable({
            url: queryUrl,
            sortName: 'ViewFunctionId,ManipulateModelSort',
            sortOrder: 'Asc',
            columns: [
                { checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'ManipulateModelName', title: '展示项目' },
                { field: 'ViewName', title: '视图名称' },
                { field: 'ManipulateModelUnit', title: '单位' },
                { field: 'ManipulateModelMark', title: '标识' },
                {
                    field: 'ManipulateModelStutas', title: '状态',
                    formatter: function (value, row, index) {
                        if (row.ManipulateModelStutas == "@StatusEnum.Yes.ParseToInt()") {
                            return '<span class="badge badge-primary">' + "@StatusEnum.Yes.GetDescription()" + '</span>';
                        } else {
                            return '<span class="badge badge-warning">' + "@StatusEnum.No.GetDescription()" + '</span>';
                        }
                    }
                },
                       {
                           field: 'ManipulateModelShowHome', title: '是否显示首页',
                    formatter: function (value, row, index) {
                        if (row.ManipulateModelShowHome == "@IsEnum.Yes.ParseToInt()") {
                            return '<span class="badge badge-primary">' + "@IsEnum.Yes.GetDescription()" + '</span>';
                        } else {
                            return '<span class="badge badge-warning">' + "@IsEnum.No.GetDescription()" + '</span>';
                        }
                    }
                },
                {
                    field: 'InstructView', title: '展示类型',
                    formatter: function (value, row, index) {
                        if (row.InstructView == "@InstructViewEnum.Govern.ParseToInt()") {
                            return '<span class="badge badge-primary">' + "@InstructViewEnum.Govern.GetDescription()" + '</span>';
                        } else if (row.InstructView == "@InstructViewEnum.Alarm.ParseToInt()") {
                            return '<span class="badge badge-warning">' + "@InstructViewEnum.Alarm.GetDescription()" + '</span>';
                        } else if(row.InstructView == "@InstructViewEnum.Data.ParseToInt()") {
                            return '<span class="badge badge-success">' + "@InstructViewEnum.Data.GetDescription()" + '</span>';
                        } else if(row.InstructView == "@InstructViewEnum.Start.ParseToInt()") {
                            return '<span class="badge badge-success">' + "@InstructViewEnum.Start.GetDescription()" + '</span>';
                        }else if(row.InstructView == "@InstructViewEnum.Stop.ParseToInt()") {
                            return '<span class="badge badge-success">' + "@InstructViewEnum.Stop.GetDescription()" + '</span>';
                        }
                    }
                },
                { field: 'ManipulateModelSort', title: '排序' },
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').ysTable('getPagination', params);
                var queryString = $('#searchDiv').getWebControls(pagination);
                return queryString;
            }
        });
    }

    function searchGrid() {
        $('#gridTable').ysTable('search');
        resetToolbarStatus();
    }

    function showSaveForm(bAdd) {
        var id = 0;
        if (!bAdd) {
            var selectedRow = $("#gridTable").bootstrapTable("getSelections");
            if (!ys.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
        ys.openDialog({
            title: id > 0 ? "编辑控制模块" : "添加控制模块",
            content: '@Url.Content("~/ApplicationManage/ViewManipulateModel/ViewManipulateModelForm")' + '?id=' + id,
            width: "768px",
            height: "450px",
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }

    function deleteForm() {
        var selectedRow = $("#gridTable").bootstrapTable("getSelections");
        if (ys.checkRowDelete(selectedRow)) {
            ys.confirm("确认要删除选中的" + selectedRow.length + "条数据吗？", function () {
                var ids = ys.getIds(selectedRow);
                ys.ajax({
                    url: '@Url.Content("~/ApplicationManage/ViewManipulateModel/DeleteFormJson")' + '?ids=' + ids,
                    type: "post",
                    success: function (obj) {
                        if (obj.Tag == 1) {
                            ys.msgSuccess(obj.Message);
                            searchGrid();
                        }
                        else {
                            ys.msgError(obj.Message);
                        }
                    }
                });
            });
        }
    }

</script>

