@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment
@section header{
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/summernote/0.8.8/summernote.min.css"))
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/summernote/0.8.8/summernote.min.js"))

    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/imageupload/1.0/css/imgup.min.css"))
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/imageupload/1.0/js/imgup.min.js"))
}

<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-2 control-label ">系统名称 <font class="red"> *</font> </label>
            <div class="col-sm-10">
                <input id="systemName" col="SystemName" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">系统昵称<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="systemNickName" col="SystemNickName" type="text" class="form-control" />
            </div>
            <label class="col-sm-2 control-label ">排序<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="systemSort" col="SystemSort" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">是否显示到菜单</label>
            <div class="col-sm-4" id="MenuShow" col="MenuShow"></div>
            <label class="col-sm-2 control-label ">设备指令<font class="red"></font></label>
            <div class="col-sm-4">
                <input id="deviceInstruction" col="DeviceInstruction" type="text" class="form-control" />
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label "></label>
            <div class="col-sm-5">
                
            </div>
            <div class="col-sm-4">
                <label class="label">目前用于标识是否要读取设备连接状态,空不读取</label>
            </div>
        </div>
       
        <div class="form-group">
            <label class="col-sm-2 control-label ">
                <span>缩略图</span><br />
                <span>(宽高比 1.5：1)</span>
            </label>
            <div class="col-sm-10">
                <div id="systemImage" class="img-box">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">访问地址</label>
            <div class="col-sm-10">
                <input id="systemUrl" col="SystemUrl" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">3D模型</label>
            <div class="col-sm-10">
                <div id="systemModel" class="img-box">
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var id = ys.request("id");
    var systemModel = "";
    $(function () {
        $("#MenuShow").ysRadioBox({ data: ys.getJson(@Html.Raw(typeof(StatusEnum).EnumToDictionaryString())) });
        $("#systemImage").imageUpload({ uploadImage: 'uploadThumbImage', limit: 1, context: ctx });
        $("#systemModel").imageUpload({ uploadImage: 'uploadThumbModel', limit: 1, context: ctx });
        getForm();
        $("#form").validate({
            rules: {
                systemName: { required: true },
                systemNickName: { required: true },
                systemSort: { required: true },
                systemImage: { required: true },
                systemModel: { required: true }
            }
        });
    });

    function getForm() {
        if (id > 0) {
            ys.ajax({
                url: '@Url.Content("~/ApplicationManage/SystemSetting/GetFormJson")' + '?id=' + id,
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        $("#form").setWebControls(obj.Result);
                        $("#systemImage").imageUpload("setImageUrl", obj.Result.SystemImage);
                        $("#systemModel").imageUpload("getImageUrl", obj.Result.SystemModel);
                        systemModel = obj.Result.SystemModel;
                    }
                }
            });
        }
        else {
            ys.ajax({
                url: '@Url.Content("~/ApplicationManage/SystemSetting/GetMaxSortJson")',
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        var defaultData = {};
                        defaultData.SystemSort = obj.Result;
                        $("#form").setWebControls(defaultData);
                    }
                }
            });
        }
    }

    function saveForm(index) {
        if ($("#form").validate().form()) {
            var postData = $("#form").getWebControls({ Id: id });
            postData.SystemImage = $("#systemImage").imageUpload("getImageUrl");
            postData.SystemModel = $("#systemModel").imageUpload("getImageUrl");

            if (systemModel!="" && id>0) {  //修改的时候 如果模型没有修改则不要对模型数据属性进行更新至，将旧的的数据赋给表单
                postData.SystemModel = systemModel;
            }
            ys.ajax({
                url: '@Url.Content("~/ApplicationManage/SystemSetting/SaveFormJson")',
                type: "post",
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        parent.searchGrid();
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }

    function uploadThumbImage(file, callback) {
        var formdata = new FormData();
        formdata.append("file", file);
        ys.ajaxUploadFile({
            url: '@GlobalContext.SystemConfig.ApiSite' + '/File/UploadFile?fileModule=@UploadFileType.News.ParseToInt()',
            data: formdata,
            success: function (obj) {
                if (obj.Tag == 1) {
                    if (callback) {
                        callback(obj.Result);
                    }
                }
                else {
                    ys.msgError(obj.Message);
                }
            }
        })
    }

    function uploadThumbModel(file, callback) {
        var formdata = new FormData();
        formdata.append("file", file);
        ys.ajaxUploadFile({
            url: '@GlobalContext.SystemConfig.ApiSite' + '/File/UploadFile?fileModule=@UploadFileType.Model.ParseToInt()',
            data: formdata,
            success: function (obj) {
                debugger;
                if (obj.Tag == 1) {
                    if (callback) {
                        callback(obj.Result);
                    }
                    systemModel = "";  //有修改的情况下清空历史数据记录
                }
                else {
                    ys.msgError(obj.Message);
                }
            }
        })
    }
</script>
